@import "tailwindcss";

:root {
  --main-color: #003334;
  --hover-color: #014849;
  --secondary-color: white;
  --transition: 0.3s;
  --main-margin: 64px;
  --main-padding: 16px;
  --focus-input-color: #0148496e;
}

* {
  box-sizing: border-box;
}
